$color-main:#1968B3;
$color-second:#FFB200;

header {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1425);
    margin-bottom: 30px;
    .navbar-brand {
        img {
            width: 70px;
            margin-left: 15px;
        }
    }
}

main {
    padding-bottom: 30px;
    min-height: calc(100vh - 250px);
}

.input-group-addon {
    width: 50px;
}

footer {
    height: 150px;
    padding: 10px;
    background-color: #3D424A;

    ul {
        list-style: none;
        li {
            display: inline-block;
            width: 150px;
        }
    }
    a,
    a:hover {
        color: $color-second;
    }
    address{
        color: #fff;
    }
}

#headerNavbar {
    .navbar-nav {
        .nav-link.active {
            font-weight: 500;
            color: $color-main!important;
        }
    }
    .user-name {
        line-height: 33px;
        font-style: italic;
    }
}

.singlecard-container {
    img {
        width: 100%;
    }
}