<div class="container">
    <div class="row">
        <div class="row">
            <div class="col col-sm-6 col-md-4 mb-4" ng-repeat="itm in cardlist">
                <div class="card p-3">
                    <img class="card-img-top" src="http://via.placeholder.com/300x150/b2ed92?text=Placeholder" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{itm.title}}</h4>
                        <p class="card-text">{{itm.description}}</p>
                        <a ui-sref="about.card" class="btn btn-primary btn-block" ng-click="selectItem($index)">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>