<div class="container">
    <modal-dialog ng-hide="dialogIsHidden"></modal-dialog>          
        <form class="col col-sm-6" novalidate>
        <div class="form-group">
            <label>Email address</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">@</span>
                <input type="email" class="form-control" ng-model="formData.contactEmail" placeholder="Enter email">
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">*</span>
                <input type="password" class="form-control" ng-model="formData.contactPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label>Password </label>
            <textarea rows="2" class="form-control" ng-model="formData.contactMessage" placeholder="Message">
            </textarea>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input ng-model="formData.contactAgreement" required type="checkbox" class="form-check-input">Check me out
            </label>
        </div>
        <button role="button" class="btn btn-primary" ng-disabled="!formData.contactEmail || !formData.contactPassword || !formData.contactMessage || !formData.contactAgreement" ng-click="submitContact()">Submit</button>
        
    </form>
</div>