<div class="jumbotron ">
    <div class="container">
        <h1 class="display-3">Lorem ipsum.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, deleniti. Lorem ipsum dolor sit.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, natus, delectus molestiae quia repellat minus.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>
