<div class="row">
        <div class="col">
            <div class="alert alert-{{styleClass}} alert-dismissible fade show" role="alert" >
              <button type="button" class="close" ng-click="hideDialog()">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="alert">{{messageToUser}}</div>
            </div>
        </div>
</div>