<nav class="navbar navbar-light bg-light navbar-toggleable-sm">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
            <a ui-sref="home" class="navbar-brand">
                <img src="/img/lz_logo_color.svg">
            </a>
            <div id="headerNavbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a ui-sref="home" ui-sref-active="active" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a ui-sref="about.index" ui-sref-active="active" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!/news" class="nav-link">News</a>
                    </li>
                    <li class="nav-item">
                        <a ui-sref="contact" ui-sref-active="active" class="nav-link"> Contact</a>
                    </li>
                </ul>
               <form class="form-inline my-2 my-lg-0" ng-hide="$ctrl.userNameConfirmed">
                <input class="form-control mr-sm-2" type="text" placeholder="Enter your name" ng-model="userName">
                <button class="btn btn-outline-success my-2 my-sm-0" ng-click="$ctrl.confirmUserName()">Confirm</button>
              </form>
              <span class="user-name" ng-show="$ctrl.userNameConfirmed">{{userName}}</span>
            </div>
        </div>
    </nav>