<div class="container singlecard-container">
	<div class="row">
		<div class="col-sm-5"><img src="http://via.placeholder.com/300x150/b2ed92?text=Placeholder" alt="Card image cap"></div>
		<div class="col-sm-7 pd-15">
			<div>{{singleCard.title}}</div>
			<div>{{singleCard.description}}</div>
			<div><strong>Card index N:</strong> {{singleCard.index}}</div>
		</div>
	</div>
</div>